                         <div >
                          <div class="col-md-6 col-sm-6" >
                                      <table class="table">
                                            <thead>
                                              <tr>
                                                <th>Name</th>
                                                <th>Price</th>
                                                <th>Qty</th>
                                                <th>Total</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr ng-repeat="menu in hotel.menu">
                                                <td>{{menu.name}}</td>
                                                <td>{{menu.price}}</td>
                                                <td><input type="number"  ng:model="menu.qty" ng:required class="input-mini" maxlength="2" size="2"></td>
                                                <td>{{menu.price * menu.qty | currency}}</td>

                                              </tr>
                                              <tr>
                                                <td></td>
                                                <td></td>
                                                <td>Total:</td>
                                                <td>{{total() | currency}}</td>
                                              </tr>
                                            </tbody>
                                          </table>  
                                  </div>

                             <div class="col-md-6 col-sm-6">
                              <div class="widget">
                                  <div class="widget-header">
                                      <h3>Delivery Address</h3>

                                  </div>

                                          <div class="form-group" name="myForm">
                                            <input type="text" class="form-control" id="user"  ng-model="user" required placeholder="Enter Name">
                                          </div>
                                          <div class="form-group">
                                            <input type="tel" class="form-control" id="inputphone" ng-model="phone"placeholder="Enter Phone Number">
                                          </div>
                                          <div class="form-group">
                                            <input type="text" class="form-control" id="inputflat" ng-model="flat_no" placeholder="Enter House/Flat No">
                                          </div>
                                          <div class="form-group">
                                            <input type="text" class="form-control" id="inputaddress" ng-model="address" placeholder="Enter Address">
                                          </div>
                                          <div class="form-group">
                                            <input type="text" class="form-control" id="inputlocality" ng-model="landmark" placeholder="Enter Locality/Landmark">
                                          </div>
                                        </div>
                                        <div class="modal-footer" >
                                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="order()">Order</button>
                                        </div>

                          </div>

                                  <div id="myModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 ><center>Confirm Order</center></h4>
                                        </div>
                                        <div class="modal-body">
                                          <table class="table">
                                            <thead>
                                              <tr>
                                                <th>Name</th>
                                                <th>Qty</th>
                                                 <th>Price</th>  
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr ng-repeat="menu in orderSummary.menu">
                                                <td>{{menu.name}}</td>
                                                <td>{{menu.no_of_order}}</td>
                                              <td>{{menu.price}}</td>
                                              </tr>
                                             <tr>
                                              <td></td>
                                                <td>Total:</td>
                                                <td>{{total_price | currency}}</td>
                                              </tr>
                                            </tbody>
                                          </table>  
                                           <h4 class="modal-title"><center>Delivery Address</center></h4>
                                          <div class="form-group" name="myForm">
                                             <label for="name">Name</label>
                                            <input type="text" class="form-control" id="user"  ng-model="user" required placeholder="Enter Name">

                                          </div>

                                          <div class="form-group">
                                             <label for="phone">Phone Number</label>
                                            <input type="tel" class="form-control" id="inputphone" ng-model="phone"placeholder="Enter Phone Number">
                                          </div>

                                          <div class="form-group">
                                            <label for="address">Address</label>
                                            <input type="text" class="form-control" id="inputflat" ng-model="flat_no" placeholder="Enter House/Flat No">
                                          </div>

                                          <div class="form-group">
                                            <input type="text" class="form-control" id="inputaddress" ng-model="address" placeholder="Enter Address">
                                          </div>

                                          <div class="form-group">
                                            <input type="text" class="form-control" id="inputlocality" ng-model="landmark" placeholder="Enter Locality/Landmark">
                                          </div>

                                        </div>


                                        <div class="modal-footer" >
                                          <button type="button" ng-disabled="myForm.user.$dirty && myForm.user.$invalid" class="btn btn-default" data-dismiss="modal" ng-click="confirmOrder()">Order</button>

                                        </div>


                                      </div>

                                    </div>
                                  </div>

                       
