            <section class="hero" >
                <div class="container text-center" ng-init="getCityCoverage()">
                    
                    <h2 class="hero-title">Online Food Order</h2>                         
                     <p class="hero-description hidden-xs">Find all food you need on Khaanavali. We give you a simple way.</p>   
                      <div class="row hero-search-box">                         
                         <form>     
                             <div class="col-md-5 col-sm-4 search-input">    
                                 <select class="form-control input-lg search-first" ng-model="selectedCity" ng-options="cityCoverage.citys.indexOf(selectedCity) as selectedCity for selectedCity in cityCoverage.citys "" >   
                               </select>   
     
                             </div>    
                             <div class="col-md-5 col-sm-4 search-input">    
                                 <select class="form-control input-lg search-second" ng-model="search_areaname" ng-options="o for o in cityCoverage[selectedCity].subAreas track by o" >   
     
                             </select>   
                             </div>    
                             <div class="col-md-2 col-sm-2 search-input">    
                                 <button class="btn btn-custom btn-block btn-lg"  ng-click="findRestaurants()">Find</button>   
                             </div>    
                             <!--div class="col-md-2 col-sm-2">    
                             <label>or</label>   
                             </div>    
                             <div class="col-md-2 col-sm-2 search-input">    
                                 <button class="btn btn-custom btn-block btn-lg"  ng-click="findRestaurantsByNearBy()">NearBy</button>   
                             </div-->    
                         </form>
                    </div>
                </div>
            </section>

<section class="main">
                <div class="container">
                    <div class="row">

                        <!--div class="col-md-3 col-sm-3">

                            <div class="widget">
                                <div class="widget-header">
                                    <h3>Trends</h3>
                                </div>
                                <div class="widget-body">
                                    <ul class="trends">
                                        <li><a href="#">Northa Karnataks dishes &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                        <li><a href="#">South Karnataks dishes &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                        <li><a href="#">Idly/Dosa &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                        <li><a href="#">Biryani &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                        <li><a href="#">North Indian &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                     
                  
                                    </ul>
                                </div>
                            </div>
                            <div class="banner-widget">
                                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Uttar_Karnataka_food.JPG/1024px-Uttar_Karnataka_food.JPG" alt="banner" class="img-responsive">
                            </div>
                        </div>
                    </div-->
                        <div class="container">
                            <div class="row" >
                              <div class="col-xs-12 col-sm-12" ng-repeat="hotel in hotellist">
                                    <div class="col-xs-1 col-sm-1">
                                      <br>
                                      <img src="/images/logo/logo.png" style="width:80px;height:80px">  

                                      </div>

                                      <div class="shortcut">
                                           <a ng-click="currentHotel($index)"><b>{{hotel.hotel.name}}</b></a>

                                        <a><p>veg north karnataka mess</p></a>
                                        <!--span class="total-items">25,366</span-->
                                    
                                         <a ui-sref="menu" ng-click="currentHotel($index)" class="btn btn-primary">Menu</a>
                                      </div>
                                  </div>

                               </div>
                        </div>

                    
                </div>
            </section>
                             
                      