            <section class="hero" >
                <div class="container " style="color:white">
                <div class="row">
                <div class="col-md-4 col-sm-4">
                <h2 class="hero-title">{{hotel.hotel.name}}</h2>
                <p  class="hero-description hidden-xs">Phone No:{{hotel.phone}}</p>
                </div>
                
                <div class="col-md-4 col-sm-4">
                <p class="hero-title"><u>Address</u></p>
                <p class="hero-description hidden-xs">{{hotel.address.addressLine1}}</p>
                <p class="hero-description hidden-xs">{{hotel.address.LandMark}}</p>
                <p class="hero-description hidden-xs">{{hotel.address.areaName}}</p>
                <p class="hero-description hidden-xs">{{hotel.address.city}}</p>
                </div>

                <div class="col-md-4 col-sm-4">
                  <p class="hero-title"><u>Details</u></p>
                  <p class="hero-description hidden-xs">DeliverRange  : {{hotel.deliverRange}} Km</p>
                  <p class="hero-description hidden-xs">Speciality    : {{hotel.speciality}}</p>
                  <!--p class="hero-description hidden-xs">{{hotel.vegornoveg}}</p>
                  <div ng-repeat="areas in hotel.deliverAreas"-->
                  <p class="hero-description hidden-xs">DeliverAreas  : {{areas.name}}</p>
                </div>
                </div>

                </div>

                </div>
            </section>

<section class="main">
                <div class="container">
                    <div class="row">

                        <!--div class="col-md-3 col-sm-3">

                            <div class="widget">
                                <div class="widget-header">
                                    <h3>Trends</h3>
                                </div>
                                <div class="widget-body">
                                    <ul class="trends">
                                        <li><a href="#">Northa Karnataks dishes &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                        <li><a href="#">South Karnataks dishes &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                        <li><a href="#">Idly/Dosa &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                        <li><a href="#">Biryani &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                        <li><a href="#">North Indian &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                     
                  
                                    </ul>
                                </div>
                            </div>
                            <div class="banner-widget">
                                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Uttar_Karnataka_food.JPG/1024px-Uttar_Karnataka_food.JPG" alt="banner" class="img-responsive">
                            </div>
                        </div>
                    </div-->
                        <div class="container">
                            
                          <div class="col-md-6 col-sm-6" >
                          <div class="widget">
                          <div class="widget-header">
                                      <h3>Menu</h3>

                                  </div>
                                      <table class="table">
                                            <thead>
                                              <tr>
                                                <th>Name</th>
                                                <th>Price</th>
                                                <th>Qty</th>
                                                <th>Total</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr ng-repeat="menu in hotel.menu">
                                                <td>{{menu.name}}</td>
                                                <td>{{menu.price}}</td>
                                                <td><input type="number"  ng:model="menu.qty" ng:required class="input-mini" maxlength="2" size="2"></td>
                                                <td> ₹ {{menu.price * menu.qty }}</td>

                                              </tr>
                                              <tr>
                                                <td></td>
                                                <td></td>
                                                <td>Total:</td>
                                                <td> ₹ {{total() }}</td>
                                              </tr>
                                            </tbody>
                                          </table>  
                                  </div>
                              </div>
                             <div class="col-md-6 col-sm-6">
                              <div class="widget">
                                  <div class="widget-header">
                                      <h3>Delivery Address</h3>

                                  </div>

                                          <div class="form-group" name="myForm">
                                            <input type="text" class="form-control" id="user"  ng-model="user" required placeholder="Enter Name">
                                          </div>
                                          <div class="form-group">
                                            <input type="tel" class="form-control" id="inputphone" ng-model="phone"placeholder="Enter Phone Number">
                                          </div>
                                          <div class="form-group">
                                            <input type="text" class="form-control" id="inputflat" ng-model="flat_no" placeholder="Enter House/Flat No">
                                          </div>
                                          <div class="form-group">
                                            <input type="text" class="form-control" id="inputaddress" ng-model="address" placeholder="Enter Address">
                                          </div>
                                          <div class="form-group">
                                            <input type="text" class="form-control" id="inputlocality" ng-model="landmark" placeholder="Enter Locality/Landmark">
                                          </div>
                                        </div>
                                        <div class="modal-footer" >
                                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="order()">Order</button>
                                        </div>

                          </div>
<div class="col-md-6 col-sm-6">
                                  <div id="myModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 ><center>Confirm Order</center></h4>
                                        </div>
                                        <div class="modal-body">
                                          <table class="table">
                                            <thead>
                                              <tr>
                                                <th>Name</th>
                                                <th>Qty</th>
                                                 <th>Price</th>  
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr ng-repeat="menu in orderSummary.menu">
                                                <td>{{menu.name}}</td>
                                                <td>{{menu.no_of_order}}</td>
                                              <td> ₹ {{menu.price}}</td>
                                              </tr>
                                             <tr>
                                              <td></td>
                                                <td>Total:</td>
                                                <td> ₹ {{total_price}}</td>
                                              </tr>
                                            </tbody>
                                          </table>  
                                           <h4 class="modal-title"><center>Delivery Address</center></h4>

                                          <div class="form-group">
                                          <label for="name">Name</label>
                                          <p>Name: {{user}}</p>
                                          <label for="phone">Phone Number</label>
                                          <p>{{phone}}</p>
                                          <label for="address">Address</label>
                                          <p>FlatNo:{{flat_no}}</p>
                                          <p>Address:{{address}}</p>
                                           <p>LandMark: {{landmark}}</p>
                                          </div>

                                        </div>


                                        <div class="modal-footer" >
                                          <button type="button" ng-disabled="myForm.user.$dirty && myForm.user.$invalid" class="btn btn-default" data-dismiss="modal" ng-click="confirmOrder()">Order</button>

                                        </div>


                                      </div>

                                    </div>
                                  </div>
                                  </div>

                        </div>

                    
                </div>
            </section>

                         
                       
