<div class="sectionthirteen">
    <div class="container">
        <div class="row picandname">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 userpicdetail pull-left">
                <div class="userpic"> <img src="/sandy/img/four.jpg"> </div>
                <div class="edt">
                    <a href=""><img src="/sandy/img/edit.png"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 userdetail pull-right">
                <div class="usernames">
                    <ul class="usernameslist">
                        <li>
                            <input type="text" class="w3-input inptne" placeholder="Name" value="{{profile.name}}"> </li>
                        <li>
                            <input type="text" class="w3-input inptnew" placeholder="Phone" value="{{profile.phone}}"> </li>
                        <li>
                            <input type="text" class="w3-input inptnews" placeholder="Mail ID" value="{{profile.email}}"> </li>
                    </ul>
                </div>
                <div class="usernames">
                    <ul class="usernameslist">
                        <li>
                            <p><span class="inptne"></span> {{profile.name}}</p> </li>
                        <li>
                            <p><span class="inptne"></span> {{profile.phone}}</p> </li>
                        <li>
                            <p><span class="inptne"></span> {{profile.email}}</p> </li>
                    </ul>
                </div>
                <div class="edt">
                    <a href=""><img src="/sandy/img/edit.png"></a>
                </div>
            </div>
        </div>
        <div class="row picandname">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 userdetail pull-right">
                <div class="addresspart">
                    <ul class="addresslist">
                        <li ng-repeat="address in profile.addresses">
                            <button type="button" class="close" data-dismiss="li">&times;</button>
                            <div class="addlist">
                                <h3>{{address.label}}</h3>
                            </div>
                            <div class="addlistt">
                                <ul class="adddetails">
                                    <li>
                                        <p><span>Address Line 1 :</span> {{address.addressLine1}}</p>
                                    </li>
                                    <li>
                                        <p><span>Address Line 2 :</span> {{address.addressLine2}}</p>
                                    </li>
                                    <li>
                                        <p><span>Street         :</span> {{address.street}}</p>
                                    </li>
                                    <li>
                                        <p><span>Landmark       :</span> {{address.Landmark}}</p>
                                    </li>
                                    <li>
                                        <p><span>City           :</span> {{address.city}}</p>
                                    </li>
                                    <li>
                                        <p><span>Zip            :</span> {{address.zip}}</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="delete">
                                <button type="submit" class="btn btn-danger btn-sm">- DELETE</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="edt">
<!--                    <a href=""><img src="/sandy/img/edit.png"></a>-->
                    <a href="#" ng-show="isLoggedIn" data-toggle="modal" data-target="#addressModal">
                        <img src="/sandy/img/edit.png">
                    </a>
                <div class="modal fade" id="addressModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body clearfix">
                                                            <div class="adder">
                                <h3><input type="text" class="w3-input adders" ng-model="label" placeholder="Label"></h3> </div>
                                <div class="form-group">
                                    <ul class="adderslist">
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="addressLine1" placeholder="Addressline 1"> </li>
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="addressLine2" placeholder="Addressline 2"> </li>
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="street" placeholder="Street"> </li>
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="LandMark" placeholder="Landmark"> </li>
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="areaname" placeholder="Areaname"> </li>
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="city" placeholder="City"> </li>
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="zip" placeholder="zip"> </li>
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="latitude" placeholder="Latitude"> </li>
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="longitude" placeholder="Longitude"> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info btn-lg" data-dismiss="modal" ng-click="addAddress()">SAVE</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="row save">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 marg">
                <a href="#" ng-show="isLoggedIn" data-toggle="modal" data-target="#addressModal">
                    <button type="submit" class="btn btn-danger btn-lg">+ ADD NEW ADDRESS</button>
                </a>
                <div class="modal fade" id="addressModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body clearfix">
                                                            <div class="adder">
                                <h3><input type="text" class="w3-input adders" ng-model="label" placeholder="Label"></h3> </div>
                                <div class="form-group">
                                    <ul class="adderslist">
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="addressLine1" placeholder="Addressline 1"> </li>
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="addressLine2" placeholder="Addressline 2"> </li>
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="street" placeholder="Street"> </li>
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="LandMark" placeholder="Landmark"> </li>
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="areaname" placeholder="Areaname"> </li>
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="city" placeholder="City"> </li>
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="zip" placeholder="zip"> </li>
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="latitude" placeholder="Latitude"> </li>
                                        <li>
                                            <input type="text" class="w3-input adders" ng-model="longitude" placeholder="Longitude"> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-lg" data-dismiss="modal" ng-click="addAddress()">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 marg">
                <button type="submit" class="btn btn-success btn-lg">SAVE</button>
            </div>
        </div>
    </div>
</div>