            <section class="hero" >
                <div class="container text-center" ng-init="getCityCoverage()">
                    
                    <div class="row hero-search-box">
<img src="http://kuruva.herokuapp.com/public/images/slider/slider4.jpg" alt="Mountain View">
                    </div>
                </div>
            </section>

<section class="main">
                <div class="container">
                    <div class="row">

                        <!--div class="col-md-3 col-sm-3">

                            <div class="widget">
                                <div class="widget-header">
                                    <h3>Trends</h3>
                                </div>
                                <div class="widget-body">
                                    <ul class="trends">
                                        <li><a href="#">Northa Karnataks dishes &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                        <li><a href="#">South Karnataks dishes &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                        <li><a href="#">Idly/Dosa &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                        <li><a href="#">Biryani &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                                        <li><a href="#">North Indian &nbsp;<span class="item-numbers">(2,342)</span></a></li>
                     
                  
                                    </ul>
                                </div>
                            </div>
                            <div class="banner-widget">
                                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Uttar_Karnataka_food.JPG/1024px-Uttar_Karnataka_food.JPG" alt="banner" class="img-responsive">
                            </div>
                        </div>
                    </div-->
                        <div class="container">
                            <div class="row" >
                              <div class="col-xs-12 col-sm-12" ng-repeat="hotel in hotellist">
                                    <div class="col-xs-1 col-sm-1">
                                      <br>
                                      <img src="/images/logo/logo.png" style="width:80px;height:80px">  

                                      </div>

                                      <div class="shortcut">
                                           <a ng-click="currentHotel($index)"><b>{{hotel.hotel.name}}</b></a>

                                        <a><p>veg north karnataka mess</p></a>
                                        <!--span class="total-items">25,366</span-->
                                    
                                         <a ui-sref="menu" ng-click="currentHotel($index)" class="btn btn-primary">Menu</a>
                                      </div>
                                  </div>

                               </div>
                        </div>

                    
                </div>
            </section>
                             
                      