                        
                              <div class="row" >
                              <div class="col-xs-6 col-sm-6" ng-repeat="hotel in hotellist">
                                    <div class="col-xs-2 col-sm-2">
                                      <br>
                                      <img src="https://assets.foodpanda.in/dynamic/images/vendors/v7zf_sqp.jpg?v=20150720173250" style="width:80px;height:80px">  

                                      </div>

                                      <div class="shortcut">
                                           <a ng-click="currentHotel($index)"><b>{{hotel.hotel.name}}</b></a>

                                        <a><p>veg north karnataka mess</p></a>
                                        <!--span class="total-items">25,366</span-->
                                    
                                         <a ui-sref="menu" ng-click="currentHotel($index)" class="btn btn-primary">List</a>
                                      </div>
                                  </div>

                               </div>
                      