

  <br>
  <br>
  <br>
<div class="header">
  
  <h1><center>Electrical Services</center></h1>
</div>

<div class="row">
  <div class="col-1 menu" >
     <!-- <ul>
      <li>Electrical Services</li>
      <li>Switches, Meters And Fuses</li>
      <li>Fans</li>
      <li>Lights</li>
    </ul>  -->
  </div>

  <div class="col-6" >
      <hr class="style3">
    <h2>Book online Switches, Meters And Fuses Electrical services</2>
    <br>
    <br>
    <hr class="style3">
    <h3>Inclusions & Exclusions</h3>
    <ul style="list-style-type:circle;">
        <li>The scope includes creating a new electric point with switch and socket</li>
            <li>Rates include labour charges for the job only</li>
                <li>Any material or spares that ay be needed for the job</li>
</ul>
  </div>

  <div class="col-3 right">
      
    <div class="aside">
      <h2>Book an Appointment</h2>
      <p>electrical serviceman will visit the site on your preffered date</p>
      <br>
      <!-- <h2>Sub Total</h2>
      <p>on inspection</p> -->
      <a ui-sref="checkout" ng-click="currentHotel($index)">
        <button type="button" class="btn btn-danger btn-lg">Checkout</button>
    </a>
      
    </div>
  </div>
</div>



<!-- <div class="footer">
    <h3>Electrical Service Providers Near You</h3>
      <p>  SpaceU presents their best in class Electrical services in India, with an overall 4344 service providers in and around the vicinity. We, at SpaceU, excel in taking away the pain of finding the right Electrical expert to cater to your needs, right at the comfort of your home. With reasonable pricing, you can avail our Electrical services anywhere in India with just a few clicks of a button. We, at SpaceU, provide expert and trustworthy professionals at your doorstep. We connect you with experts in your locality who present Electrical services at your convenience. With the right tools, best-fit products and a courteous professional, you can see that the quality of Electrical services offered by our experts surpasses the standard offered elsewhere. All you need to do is let us know your requirement in Electrical services and schedule a convenient time for a Electrical at home. On confirming the booking, we will assign the best professional for the job and send him/ her to your place at the designated date and time to carry out the Electrical service(s). To safeguard and ensure your safety, all in-house professionals have their backgrounds checked and verified. Furthermore, SpaceU aims to simplify your everyday life with a range of top-notch home services that not only lower your expense (through affordable and transparent rates) but also save you on time and energy. Our certified experts are on time, every time, as per your convenience and promise you 100% satisfaction on all home services.</p>
  </div> -->