<form>
<br>
<br>
<br>
<br>

    <h3>    what property do you need interior for? </h3>
        <div class="cc-selector">
            <input id="visa" type="radio" name="credit-card"  ng-value="Home" ng-model="homeoroffice" value="Home"/>
            <label class="drinkcard-cc visa" for="visa">Home</label>
            <input id="mastercard" type="radio" name="credit-card"  ng-model="homeoroffice" value="Office"/>
            <label class="drinkcard-cc mastercard"for="mastercard">Office</label>
        </div>

        <h3>What is the size of the property</h3>
        <div class="size_of_property">
        <label class="container">
          <input type="radio" ng-checked="true" name="size_of_property" ng-model="size_of_property" ng-value="2 BHK">
          <span class="checkmark">2 BHK</span>
        </label>
        <label class="container">
          <input type="radio" ng-model="size_of_property"  name="size_of_property"  value="3 BHK">
          <span class="checkmark">3 BHK</span>
        </label>
        <label class="container">
          <input type="radio" ng-model="size_of_property" name="size_of_property"  value="4 BHK">
          <span class="checkmark">4 BHK</span>
        </label>
        <label class="container">
          <input type="radio"  ng-model="size_of_property" name="size_of_property"  value="5 + BHK /Villa/Penthouse">
          <span class="checkmark">5 + BHK /Villa/Penthouse</span>
        </label>
        <label class="container">
                <input type="radio" ng-model="size_of_property"  name="size_of_property"  value="Other">
                <span class="checkmark">Other</span>
              </label>
            </div>
            <div class="start_of_work">
              <h3>   When do you want this work to start </h3>
              <label class="container">
                    <input type="radio" ng-value="true"  name="start_of_work" ng-model="start_of_work" value="Within a week">
                    <span class="checkmark">Within a week</span>
                  </label>
                  <label class="container">
                    <input type="radio" name="start_of_work" name="start_of_work"  ng-model="start_of_work" value="Within a Month">
                    <span class="checkmark">Within a Month</span>
                  </label>
                  <label class="container">
                    <input type="radio" name="start_of_work" name="start_of_work"  ng-model="start_of_work" value="Within a 3 Month">
                    <span class="checkmark">Within a 3 Month</span>
                  </label>
                  <label class="container">
                    <input type="radio" name="start_of_work" name="start_of_work"  ng-model="start_of_work" value="After a 3  Month">
                    <span class="checkmark">After a 3  Months</span>
                  </label>
                </div>
        <h3>   Do you already own/lease the property? </h3>
        <label class="property_type">
              <input type="radio" ng-checked="true" name="property_type" ng-model="own_property" value="Yes">
              <span class="checkmark">Yes</span>
            </label>
            <label class="container">
              <input type="radio" name="property_type" ng-model="own_property" value="No">
              <span class="checkmark">No</span>
            </label>
            <!-- <a href="#" ng-click="add_address2()" data-toggle="modal" data-target="#meraModal">
                    <button type="button" class="btn btn-primary">Add Address</button>
                </a> -->
                <!-- <a href="#" data-target="#myModal" ng-show="!isLoggedIn" data-toggle="modal" data-target="#Flogin">
                    <button type="button" class="btn btn-primary">CHECKOUT</button>
                </a> -->
<!-- <a ui-sref="checkout" ng-click="currentHotel($index)">
        <button type="button" class="btn btn-danger btn-lg">Add address</button>
        <a ui-sref="checkout" ng-click="currentHotel($index)"> -->
             <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">
        Add Address
      </button> -->
      <h3>   Select Address </h3>
      <div class="deladdresspart">
            <ul class="deladdresslist">
                <li ng-repeat="address in profile.addresses">
                    <div class="deladdlist">
                        <h3><input type="radio" 
                            name="name" required
                            ng-click="fnChangeAssetType(address)" > &nbsp; {{address.label}}</h3>
                    </div>
                    <div class="deladdlistt">
                        <ul class="deladddetails">
                            <li>
                                <p><span>Address Line 1 :</span> {{address.addressLine1}}</p>
                            </li>
                            <li>
                                <p><span>Address Line 2 :</span> {{address.addressLine2}}</p>
                            </li>
                            <!--
                            <li>
                                <p><span>Street         :</span> {{address.street}}</p>
                            </li>
-->
                            <li>
                                <p><span>Landmark       :</span> {{address.Landmark}}</p>
                            </li>
                            <!--
                            <li>
                                <p><span>Areaname       :</span> {{address.areaName}}</p>
                            </li>
-->
                            <li>
                                <p><span>City           :</span> {{address.city}}</p>
                            </li>
                            <li>
                                <p><span>Zip            :</span> {{address.zip}}</p>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col">
                <a href="#" data-toggle="modal" data-target="#newaddressModal">
                    <button type="submit" class="btn btn-primary ">ADD NEW ADDRESS</button>
                </a>
                <div class="modal fade" id="newaddressModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <label class="rq">All Fields are Mandatory</label>
                                <div class="adder">
                                    <h3><input required type="text" class="form-control adders" ng-model="label" placeholder="Label" maxlength="15"></h3> </div>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <ul class="adderslist">
                                        <li>
                                            <input type="text" class="form-control adders" ng-model="addressLine1" placeholder="Addressline 1" maxlength="60"> </li>
                                        <li>
                                            <input type="text" class="form-control adders" ng-model="addressLine2" placeholder="Addressline 2" maxlength="60"> </li>
                                        <!--
                                        <li>
                                            <input type="text" class="form-control adders" ng-model="street" placeholder="Street" maxlength="15"> </li>
-->
                                        <li>
                                            <input type="text" class="form-control adders" ng-model="LandMark" placeholder="Landmark" maxlength="30"> </li>
                                        <!--
                                        <li>
                                            <input type="text" class="form-control adders" ng-model="areaname" placeholder="Areaname" maxlength="15"> </li>
-->
                                        <li>
                                            <input type="text" class="form-control adders" ng-model="city" placeholder="City" maxlength="20"> </li>
                                        <li>
                                            <input type="text" class="form-control adders" ng-model="zip" placeholder="zip" maxlength="6"> </li>
                                        <!--
                                        <li>
                                            <input type="text" class="form-control adders" ng-model="latitude" placeholder="Latitude"> </li>
                                        <li>
                                            <input type="text" class="form-control adders" ng-model="longitude" placeholder="Longitude"> </li>
-->
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="addAddress()">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
      <!-- Modal -->
      <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Contact Address</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                                     <input type="text" class="form-control" id="user" ng-model="user" placeholder="Enter Name" required> </li>
                                    <input type="text" class="form-control" id="inputphone" ng-model="phone" placeholder="Enter Phone Number" required> </li>
                                    <input type="text" class="form-control" id="inputflat" ng-model="addressLine1" placeholder="Enter House/Flat No" required> </li>
                                    <input type="text" class="form-control" id="inputflat" ng-model="addressLine2" placeholder="Enter Address" required> </li>
                                    <input type="text" class="form-control" id="inputlocality" ng-model="landmark" placeholder="Enter Landmark" required> </li>
                                    <input type="text" class="form-control" id="inputlocality" ng-model="city" placeholder="Enter City" required> </li>
                                   <input type="text" class="form-control" id="inputlocality" ng-model="zip" placeholder="Enter Zip" required> </li>
                          </ul>
                        </div>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" >Save Address</button>
            </div>
          </div>
        </div>
   

</div>
<!-- <div class="adddresss">
    <h4>Address</h4>
        <p>{{addressLine1}}</p>
        <p>{{addressLine2}}</p>
        <p>{{street}} </p>
        <p>{{landmark }}</p>
        <p>{{areaName }}</p>
        <p>{{city}}</p>
        <p>{{zip }}</p>
        <p>{{latitude }}</p>
        <p>{{longitude }}</p>
</div> -->
      <br>
      <button type="button" class="btn btn-primary" ng-click="place_request()">
            Place Request
      </button>
    </form>
   