

<div class="header">
        <h1>Order Detail</h1>
      </div>
      
      <div class="row">
        <div class="col-3 menu">
           <!-- <ul>
            <li>Electrical Services</li>
            <li>Switches, Meters And Fuses</li>
            <li>Fans</li>
            <li>Lights</li>
          </ul>  -->
        </div>
      
        <div class="col-6">
          <h2>Electrical services</h2>
        
          <h3>Reference ID: 23324234</h3>
          <ul style="list-style-type:circle;">
              <li>Work Details</li>
              <li>Customer Address</li>
              <li>Appointment Date</li>
              <li>Status Tracker</li>
      </ul>
        </div>
      
        <!-- <div class="col-3 right">
          <div class="aside">
            <h2>Book an Appointment</h2>
            <p>Inspection/Visitation charge of Rs.150will be adjusted against the final bill.</p>
            <br>
            <h2>Sub Total</h2>
            <p>on inspection</p>
            <a ui-sref="checkout" ng-click="currentHotel($index)">
              <button type="button" class="btn btn-danger btn-lg">Checkout</button>
          </a>
            
          </div>
        </div> -->
      </div>
      
      
      
      <div class="footer">
                 </div>