  <!-- Page Content -->
  <div class="container">

       

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <!------------------------code---------------start---------------->
            <div class="container-fluid">
                <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="2500">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3"><img src="/public/spaceuimg/interiordesign2.jpg" class="img-responsive"></div>
                                    <div class="col-md-9">
                                        <h2>Mohtashim M.</h2>
                                        <p>Mohtashim is an MCA from AMU (Aligarah) and a Project Management Professional. He has more than 17 years of experience in Telecom and Datacom industries covering complete SDLC. He is managing in-house innovations, business planning, implementation, finance and the overall business development of Tutorials Point.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3"><img src="/public/spaceuimg/constructionservices.jpg" class="img-responsive"></div>
                                    <div class="col-md-9">
                                        <h2>Gopal K Verma</h2>
                                        <p>Gopal is an MCA from GJU (Hisar) and a Cisco Certified Network Professional. He has more than 11 years of experience in core data networking and telecommunications. He develops contents for Computer Science related subjects. He is also involved in developing Apps for various Mobile devices.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3"><img src="/public/spaceuimg/carpentry3.jpg" class="img-responsive"></div>
                                    <div class="col-md-9">
                                        <h2>Omer Mohammed</h2>
                                        <p>Omer has 10+ years of experience, with 4+ years in project management overlapping with 8+ years in Design. He has PMP, 6 Sigma Green Belt and Intellectual Property credentials. Across his career, he has worked in designing training modules, team building events, and driving teams towards results aligned with strategic objectives.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3"><img src="/public/spaceuimg/elec2.jpg" class="img-responsive"></div>
                                    <div class="col-md-9">
                                        <h2>Kiran Kumar Panigrahi</h2>
                                        <p>Kiran has more than 7 years of experience as a content developer and technical editor. He works with a team of technical writers to review the contents posted on the website and develops supplementary study material for the existing tutorials.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-3"><img src="/public/spaceuimg/plumbing1.jpg" class="img-responsive"></div>
                                        <div class="col-md-9">
                                            <h2>Kiran Kumar Panigrahi</h2>
                                            <p>Kiran has more than 7 years of experience as a content developer and technical editor. He works with a team of technical writers to review the contents posted on the website and develops supplementary study material for the existing tutorials.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-3"><img src="/public/spaceuimg/painting3.jpg" class="img-responsive"></div>
                                            <div class="col-md-9">
                                                <h2>Kiran Kumar Panigrahi</h2>
                                                <p>Kiran has more than 7 years of experience as a content developer and technical editor. He works with a team of technical writers to review the contents posted on the website and develops supplementary study material for the existing tutorials.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-3"><img src="/public/spaceuimg/tiles2.jpg" class="img-responsive"></div>
                                                <div class="col-md-9">
                                                    <h2>Kiran Kumar Panigrahi</h2>
                                                    <p>Kiran has more than 7 years of experience as a content developer and technical editor. He works with a team of technical writers to review the contents posted on the website and develops supplementary study material for the existing tutorials.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 
                                        
                        <!-- End Item -->
                    </div>
                    <!-- End Carousel Inner -->
                    <div class="controls">
                        <ul class="nav">
                                <li data-target="#custom_carousel" data-slide-to="0">
                                        <a href="#"><img src="/public/spaceuimg/interiordesign2.jpg"><small>Interior Design</small></a>
                                    </li>
                            <li data-target="#custom_carousel" data-slide-to="1" class="active">
                                <a href="#"><img src="/public/spaceuimg/constructionservices.jpg"><small>Construction Services.</small></a>
                            </li>
                            <li data-target="#custom_carousel" data-slide-to="2">
                                <a href="#"><img src="/public/spaceuimg/carpentry3.jpg"><small>Carpentry</small></a>
                            </li>
                            <li >
                                <a href="#/elec"><img src="/public/spaceuimg/elec2.jpg"><small>Electrification</small></a>
                            </li>
                            <li data-target="#custom_carousel" data-slide-to="4">
                                <a href="#"><img src="/public/spaceuimg/plumbing2.jpg"><small>Plumbing</small></a>
                            </li>
                            <li data-target="#custom_carousel" data-slide-to="5">
                                <a href="#"><img src="/public/spaceuimg/painting2.jpg"><small>Painting</small></a>
                            </li>
                            <li data-target="#custom_carousel" data-slide-to="6">
                                    <a href="#"><img src="/public/spaceuimg/tileswork2.jpg"><small>Tiles</small></a>
                                </li>


                        </ul>
                    </div>
                </div>
                <!-- End Carousel -->
            </div>
            <!----Code------end----------------------------------->
        </div>